body{
  font-family:monospace;
  line-height: 1.5;
}

.maven-block {
  margin-block-end: 5em;
}

.maven-block h1 {
  display:block;
  font-size:2em;
  margin-block-start:.67em;
  margin-block-end:.67em;
  margin-inline-start:0;
  margin-inline-end:0;
  font-weight:700;
}

.maven-block .accordion {
  width:100%;
  text-align:left;
  transition:.4s;
  display:inline-block;
}

.maven-block input+label {
  margin-top:4px;
  display:block;
}

.maven-block label::before {
  content:'+ ';
  font-weight:700;
}

.maven-block .active::before {
  content:'- ';
  font-weight:700;
}

.maven-block .panel {
  display:none;
  overflow:hidden;
  padding-inline-start:40px;
}

.maven-block ul {
  margin:0;
  padding:0;
  list-style-type:none
}